{% macro header(title) %}
 <header>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Document-Reading Virtual Assistant</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <style>
    h1 {
      font-size: 50px;
      text-align: center;
    }
    #banner {
      height: 180px; 
      width: 100%;
      object-fit: cover;
      padding: 5;
    }
    #container {
      max-width: 1200px;
      margin: 0 auto;
    }
  </style>
      <div id = "container">
    <h1>
    Welcome to Document Reading Virtual Assistant
    </h1>
  
     <img class = "img-fluid" id = "banner" src = 'https://document-reading-virtual-assistant--lusinebaghdasa1.repl.co/static/header2.jpg' >
     <hr>
        </div>
 </header>
{% endmacro %}