<!DOCTYPE html>
<html>
 <head>
  <title>Document-Reading Virtual Assistant</title>
  <style>
    h1 {
      font-size: 50px;
      text-align: center;
    }
    #banner {
      height: 180px; 
      width: 100%;
      object-fit: cover;
      padding: 5;
    }
    #container {
      max-width: 1200px;
      margin: 0 auto;
    }
  </style>
 </head>

 <body>
   <div id = "container">
    <h1>
    Welcome to Document Reading Virtual Assistant
    </h1>
  
     <img id = "banner" src = 'https://document-reading-virtual-assistant--lusinebaghdasa1.repl.co/static/header2.jpg' >
     <br><hr><br>
      <h2> Please upload your document to be analyzed</h2>
     
   </div>

 </body>
</html>
